.productsection {
    text-align: center;
    margin: 20px;
  }
  
  .productsection h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .productsection h4 {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
  }
  
  .productcards {
    display: flex;
    justify-content: space-between;
  }
  
  .productcard {
    width: 264px;
    height: 333px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .productcard img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .smalltext {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  
  .productcard h3 {
    font-size: 16px;
    margin-top: 5px;
  }
  