

.partnerBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5; 
    padding: 20px; 
    margin: 40px 0;
  }
  
  .text {
    font-size: 18px;
    margin-right: 10px; 
    color: #232323;
  }
  
  .logo {
    height: 30px; 
    object-fit: contain; 
  }
  