// src/components/HeroSection/HeroSection.module.scss

.hero {
  background-image: url('/header.svg'); // Укажите путь к вашему фоновому изображению
  background-size: cover;
  background-position: center;
  padding: 0px 0px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Разделяем содержимое на две части: текст и изображение */
  align-items: center;
}

.heroContent {
  max-width: 600px; /* Ограничиваем ширину текстовой части */
  color: white;
  margin-left: 50px;
}

.heroTitle {
  font-size: 44px;
  margin-bottom: 20px;
}

.heroSubtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.ctaButton {
  background: linear-gradient(90deg, #f850a9 0%, #6e54ec 100%);
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.05);
  }
}

.heroImage {
  margin-top: 70px;
  max-width: 467px; /* Ограничиваем ширину изображения кирки */
}
